body {
  background: #F7F7F7;
  color: #000;
  font-family: Monaco, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  text-shadow: 0 0 1px transparent;
  color: #505050;
}

div:focus{
  outline:none;
}
div {
  display: block;
}
#mainContent {
  width: 75%;
  float: left;
  margin-left: 10px;
}


h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

#indexHeader a {
  color: #999;
}

a {
  text-decoration: none;
}

#indexHeader a:hover {
  text-decoration: underline;
  color: #258fb8;
}

#home {
  margin: 0 auto;
  width: 80%;
  background-color: #fff;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  border-radius: 20px;
}

#blogTitle {
  width: 23%;
  margin-top: -10px;
  text-align: center;
}

.alignright {
  float: right;
}

#indexHeader, #main, #footer {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1260px) {
  #main {
    width: 95%;
  }
}
.day .dayTitle {
  display: none !important;
}

#blogTitle {
  width: 23%;
  margin-top: -10px;
  text-align: center;
  padding: 0;
}

#blogTitle h1, h2 {
  margin: 0;
  padding: 0;
}
#dom {
  text-align: center;
}
#indexHeader h1 {
  font-weight: normal;
  font-size: 30px;
  font-family: 微软雅黑, Monaco, Consolas, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;;
}
#about {
  text-align: center;
}
#indexHeader h2 {
  font-weight: bold;
  font-size: 0.9em;
  margin-top: 10px;
  margin-left: 30px;
  font-family: 微软雅黑, Monaco, Consolas, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Monaco, 微软雅黑, Consolas, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.el-menu-item {
  float: left;
  width: 10%;
  text-align: center;
  margin-right: 15px;
}

#indexHeader #navigator {
  font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 100%;
  font-size: 16px;
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
  height: 50px;
  line-height: 50px;
  clear: both;
  margin-top: 25px;
}

#indexHeader .blogStats {
  margin-top: 5px;
  margin-right: 27px;
  float: right;
  font-size: 15px;
  font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #909399;;
}



/*标题*/
.postTitle {
  font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
  clear: both;
  background-color: #FBF9F9;
  margin-bottom: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  border-left: 3px solid #21759b;
  padding-left: 20px;
  font-size: 20px;
  border-radius: 0px;
}

.postTitle a {
  text-decoration: none;
  color: #258fb8;
}

.postTitle a:hover {
  text-decoration: none;
  margin-left: 20px;
  color: #999;
}

.postTitle a:link,
.postTitle a:visited,
.postTitle a:active {
  transition: all 0.4s linear 0s;
}
#main {
  font-size: 14px;
}
.entrylistPostSummary, .postCon, .postBody {
  padding: 0 20px 15px 0px;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 0 2px 0 #ddd;
  background: #fff;
  position: relative;
}

.postDesc, .entrylistItemPostDesc {
  padding: 0px 20px 15px 0px;
  color: #999;
  font-size: 0.9em;
  line-height: 16px;
  position: relative;
  min-height: 16px;
  background: #fff;
  border-bottom: 1px dashed #ccc;
}

.c_b_p_desc {
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  line-height: 1.5;
}
.clear {
  clear: both;
}
.topicListFooter {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 0 !important;
}
#sideBar{
  width: 22%;
  line-height: 1.8em;
  float: right;
}
@media screen and (max-width: 900px) {
  #sideBar {
    float: none;
    width: 100%;
  }
}
.catListLink,
.catListMyTeams,
.catListComment,
.catListFeedback {
  display: none;
}
.search,
.newsItem,
.catListPostCategory,
.catListPostArchive,
.catListTag,
.catListView,
.catListBlogRank {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 10px 10px 10px #ddd;
  margin-bottom: 30px;
  word-wrap: break-word;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
}
#blog-sidecolumn h3, .newsItem h3 {
  padding: 15px 20px;
  font-size: 1em;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
}
#blog-sidecolumn ul, .newsItem #blog-news {
  font-size: 0.9em;
  padding: 15px 20px;
}
#blog-sidecolumn ul,
#blog-sidecolumn ol,
#blog-sidecolumn dl {
  list-style: none;
}
#blog-sidecolumn ul ul,
#blog-sidecolumn ol ul,
#blog-sidecolumn dl ul,
#blog-sidecolumn ul ol,
#blog-sidecolumn ol ol,
#blog-sidecolumn dl ol,
#blog-sidecolumn ul dl,
#blog-sidecolumn ol dl,
#blog-sidecolumn dl dl {
  list-style: disc;
  margin-left: 20px;
}
#q {
  background: #fff;
  font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 1em;
  padding: 10px 15px;
  border: 1px solid #ddd;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #999;
  height: 100%;
}
#q:focus {
  color: #444;
}

.mySearch {
  display: none;
}
#toolbar {
  float: right;
  margin-right: 10%;
}

#sideBar .tag small {
  margin-left: 15px;
  color: #999;
}
#sideBar .tag small:before {
  content: '(';
}
#sideBar .tag small:after {
  content: ')';
}
#sideBar .twitter li {
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
  font-size: 0.9em;
}
#sideBar .twitter li:last-of-type {
  border-bottom: none;
}
#sideBar .twitter small {
  display: block;
  margin-top: 10px;
  color: #999;
  line-height: 1;
}
#sideBar .tagcloud .entry {
  padding-right: 5px;
}
#sideBar .tagcloud a {
  margin-right: 10px;
  display: inline-block;
}
.search, .newsItem, .catListPostCategory, .catListPostArchive, .catListTag, .catListView, .catListBlogRank {
  background: #fff;
  margin-bottom: 30px;
  word-wrap: break-word;
  border-radius: 10px;
  margin-top: 10px;
  border: 2px solid #9E9E9E;
  transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
}
.newsItem:hover, .catListPostCategory:hover, .catListPostArchive:hover, .catListTag:hover, .catListView:hover, .catListBlogRank:hover {
  box-shadow: 10px 10px 10px #9E9E9E;
}
#footer {
  color: #999;
  margin-bottom: 50px;
  font: 0.9em/1.6 "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px #fff;
  text-align: center;
  margin: 30px 0px 50px;
}
.topicListFooter {
  text-align: center;
}
.catListTitle {
  text-align: center;
}
#header {
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 1260px) {
  body {
    margin: 0;
  }
}

@media only screen and (min-width: 900px) {
  
  html {
    margin:0;
  }
  
}

@media only screen and ( max-width: 900px ) {
  .blogStats {
    display: none;
  }
  #sideBar {
    display: none;
  }

  #mainContent {
    height: auto;
    width: 100%;
    margin: 0 0;
  }

  #indexHeader #Header1_HeaderTitle {
    font-size: 20px;
  }
  #blogTitle h2 {
      display: none;
  }
  #home {
    margin: 0 0 0 0;
    width: 100%;
  }
  
  #container {
    margin-top: 100px;
  }

}