* {
    box-sizing: border-box;
}
#banner {
    padding: 32px 0 24px;
    text-align: center;
}
#auth-header h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Microsoft YaHei", "微软雅黑", Helvetica, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", Helvetica, Tahoma, "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
    font-size: 24px;
}
.form {
    width: 340px;
    margin: 0 auto;
    border: 1px solid #d8dee2;
    border-radius: 5px;
    padding: 20px;
    margin-top: 16px !important;
}
label {
    display: block;
    margin-bottom: 7px;
    text-align: left;
}
.input-block {
    margin-top: 5px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
}
.form-control {
    min-height: 34px;
    padding: 6px 8px;
    font-size: 16px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
}
.el-row {
    text-align: center;
}
p {
    text-align: center;
}